.bok{
    background-color: rgb(192, 179, 236);
    color: #fff;
    border: 1px solid #333;
    padding: 2rem;
    box-shadow: 3px 3px 5px #333;
    border-radius: 1rem;
}


.read{
    background-color: rgb(120, 115, 136);
    color: rgb(74, 2, 61);

}
